{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block body %}


	<hr>
	<h1 class="text-center">Welcome to AEMOTORS</h1>
	<hr>

	<img class="d-block mx-auto" src='assets/img/logosite.jpg'>

	<br><br><br>

	<hr>

	<h3 class="text-center">Hello everyone !</h3>

	<br>

	<div class="row h-100 justify-content-center align-items-center">
		<div class="col-4 w-75">

			<p>
				Welcome to our import site for foreign vehicles since 2012.
																
																All our imported vehicles are of exceptional quality, scrupulously selected. By choosing to go through AEMOTORS, you are opting for a vehicle in perfect condition, imported directly from abroad, and full monitoring throughout the import process.
																
																Would you like to have an overview of the type of vehicles we import? go to the "Cars" tab and you can admire the quality of our vehicles ready to be imported.
																
																If you have any questions, do not hesitate to contact us, we will be happy to try to find the best vehicle that meets your criteria.<br>
			</p>
			<p class="text-center">Good day to all.</p>
			<p class="text-center">Sportingly.</p>
		</p>

	</div>
</div>
<hr>
<br>

<img class="w-75 d-block mx-auto" src='assets/img/cars.jpg'>
<br><br>

<h1 class="text-center" style="color: orange; background-color: black">warm up the tires and have a good trip !
</h1>
{% endblock %}
