{% extends 'base.html.twig' %}

{% block title %}
Home
{% endblock %}

{% block body %}

<div class="row h-100 justify-content-center align-items-center">
    <div class="col-3">
<hr>
<h1>Welcome to AEMOTORS</h1>
<hr>
   </div>
</div>

<div class="row h-100 justify-content-center align-items-center">
    <div class="col-4">

<img class="mx-auto" src='assets/img/logosite.jpg'> 
   </div>
</div>
<br><br><br>


        <hr>
<div class="row h-100 justify-content-center align-items-center">
    <div class="col-2">
        
        <h3>Bonjour à tous !</h3>
         </div>
</div>

<div class="row h-100 justify-content-center align-items-center">
    <div class="col-4 w-75">

        <p>
Welcome to our import site for foreign vehicles since 2012.

All our imported vehicles are of exceptional quality, scrupulously selected. By choosing to go through AEMOTORS, you are opting for a vehicle in perfect condition, imported directly from abroad, and full monitoring throughout the import process.

Would you like to have an overview of the type of vehicles we import? go to the "Cars" tab and you can admire the quality of our vehicles ready to be imported.

If you have any questions, do not hesitate to contact us, we will be happy to try to find the best vehicle that meets your criteria.
<br>
Good day to all.
<br>
Sportingly.
</p>

  </div>
</div>
        <hr>
<br>
        
        <div class="row justify-content-center align-items-center">
    <div class="col-4 w-75">

<img class="w-75 d-block mx-auto" src='assets/img/cars.jpg'>
<br><br>


   </div>
</div>

<div class="row h-100 justify-content-center align-items-center">
    <div class="col-6">
        
        <h1 style="color: orange; background-color: black">warm up the tires and have a good trip ! </h1>
         </div>
</div>
       
  



{% endblock %}





