{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
{% if app.user %}
{% endif %}

<br>
<div class="container" style="background-color: #FFC433;">
    <div class="row justify-content-center">
  <div class="form-group col-md-4 col-md-offset-5 align-center ">
  <br>
<h1>Account menu</h1>
<hr>
<ul>
<li><a href="{{path('UpdateCompte')}}">Manage profile</a></li>
<li><a href="{{path('mesAdresse')}}">Manage my adresses</a></li>
<li>You are logged into the account :{{ app.user.userIdentifier }}<a href="{{ path('app_logout') }}">
								<br>
								se déconnecter</a>

						</li>
							
{# <li><a href="#">Historique</a></li> #}
</ul>
</div>
</div>
</div>
<br><br><br>

    <div class="row justify-content-center">
  <div class="form-group col-md-7 col-md-offset-5 align-center ">

<img class="mx-auto" src='assets/img/modifCompte.jpg'> 

</div>
</div>
{% endblock %}
