{% extends 'base.html.twig' %}

{% block title %}Adresse{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
  <div class="form-group col-md-7 col-md-offset-5 align-center ">
<div><h1>Adresse : </h1>
<br>
{{ form(formAdresse)}}
<div/>
<div/>
<div/>
<div/>
{% endblock %}
