{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/bootstrap.css')}}"/>
{% endblock %}



{% block body %}
<div class="container">
    <div class="row justify-content-center">
  <div class="form-group col-md-7 col-md-offset-5 align-center ">
<div><h1>Formulaire d'Inscription : </h1>
<br>
{{ form(formInscription)}}
<div/>
<div/>
<div/>
<div/>
{% endblock %}
