{% extends 'base.html.twig' %}

{% block title %}Registration !{% endblock %}
{# {% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/bootstrap.css')}}"/>
{% endblock %} #}



{% block body %}
<div class="container">
    <div class="row justify-content-center">
  <div class="form-group col-md-7 col-md-offset-5 align-center ">
<div>
<br>
<hr>
<h1>Formulaire d'Inscription : </h1>
<br>
{{ form(formInscription)}}
<hr>
<div/>
<div/>
<div/>
<div/>
{% endblock %}
