{% extends 'base.html.twig' %}

{% block title %}
le phoenix
{% endblock %}

{% block body %}
<h1> Marco garde l'ile du capitaine au 31 rue sphinx</h1>
</br></br></br></br>
<img src='assets/img/Sphinx_V.jpg'> 
{% endblock %}





